name: Build and publish

on:
  push:
    branches:
    - 'net7'
    - 'net7-*'

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Install iOS workload
      run: dotnet workload install ios -s https://api.nuget.org/v3/index.json
    - name: Add NuGet source
      run: dotnet nuget add source --username filipnavara --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/filipnavara/index.json"
    - name: Build and pack
      run: msbuild src\CommunityToolkit\Xamarin.CommunityToolkit /restore /t:Pack /p:Configuration=Release /p:PackageVersion=2.1.0
    - uses: actions/upload-artifact@master
      with:
        name: build-artifacts
        path: src/CommunityToolkit/Xamarin.CommunityToolkit/bin/Release/Xamarin.CommunityToolkit.*.*nupkg

  publish:
    permissions:
      packages: write
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/net7'
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
        include-prerelease: true
    - uses: actions/download-artifact@master
      with:
        name: build-artifacts
        path: build-artifacts
    - name: Publish
      if: ${{ github.event_name == 'push' }}
      env:
        token: ${{ secrets.GITHUB_TOKEN }}
      run: |
        dotnet nuget add source https://nuget.pkg.github.com/filipnavara/index.json -n github
        find build-artifacts -name '*.*nupkg' | xargs -i dotnet nuget push {} -s github --api-key ${{ secrets.GITHUB_TOKEN }}